<div class="container bluebox">
  <h3>Why do we do what we do? Just for the Halibut!</h3>
  <h4>We offer a wide range of seafood products to our customers that are always fresh and always local.</h4>
</div>
