<h2>Products:</h2>

<div class="container">
  <% @products.each do |product| %>
  <div class="card">
    <ul>
        <li><h4><%= link_to product.name, product_path(product) %></h4></li>
        <li><h5>$<%= product.price.round(2) %></h5></li>
    </ul>
  </div>
  <% end %>
</div>
<br>
<div class="container">
  <% if @current_user.admin %>
    <%= link_to "Add new product", new_product_path, class: "bluebox"%>
  <% end %>
</div>
